include isl/*.c
include isl/*.h
include isl/imath/*.c
include isl/imath/*.h
include isl/imath_wrap/*.h
include isl/imath_wrap/*.c
include isl/include/isl/*.h
include isl/include/isl/deprecated/*.h
include isl-supplementary/isl/*.h
include isl-supplementary/*.h

include isl_declaration_macros_expanded*.h
include src/wrapper/*.h
include src/wrapper/*.hpp
include src/wrapper/*.cpp

include gen_wrap.py
include py_codegen.py

include test/*.py
include examples/*.py

include doc/*.rst
include doc/images/*png
include doc/Makefile
include doc/conf.py
include doc/_static/*.css
include doc/_templates/*.html

include configure.py
include Makefile.in
include aksetup_helper.py
include README_SETUP.txt

include README.rst
